header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

header img {
    margin: 10px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;    
}

body {
    font-family: "Roboto", sans-serif;
}

nav {
    font-size: 25px;
    align-items: center;
    display: flex;
}

header li {
    list-style: none;
}

.anav {
    margin: 0px 40px 0px 0px;  
}

.snav {
    margin: 0px 40px 0px 0px;
}

.dnav {
    margin: 0px 40px 0px 0px;
}

.fnav {
    margin: 0px 40px 0px 0px;
}

.gnav {
    margin: 0px 40px 0px 0px;
}

.main img {
    text-align: center;
    width: 100%;
}

.main h1 {
    text-align: center;
}

.main p {
    text-align: center;
}

.HObomne {
    text-align: center;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 1px;
}

.MObomne {
    display: flex;
    font-size: 30px;
}

.MObomne img {
    width: 700px;
    margin: 50px 50px 0px 200px;
}

.Fp {
    padding: 100px 0px 0px 0px;
}

.TObomne p {
    margin: 20px 0px 0px 50px;
}

.HPocm {
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #000000;
    padding: 1px;
    margin: 40px 0px 0px 0px;
}

.MPocm {
    display: flex;
}

.TPocm {
    font-size: 30px;
    margin: 20px 100px 0px 50px;
}

.IPocm {
    margin: 50px 50px 0px 0px;
}

.HUsl {
    text-align: center;
    color: white;
    background-color: #000000;
    padding: 1px;
    font-size: 25px;
    margin-top: 40px;
}

.MUsl {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.MUsl div {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #EFEFEF;
    width: 350px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.MUsl img {
    border: 2px #000000 solid;
}

.HMprj {
    text-align: center;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 1px;
}

.MMprj {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MMprj div {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #EFEFEF;
    width: 350px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.MMprj button {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    background-color: white;
    border: #000000 2px solid;
}

.MMprj img {
    border: #000000 2px solid;
}

.MMprj button:hover {
    background-color: #0000002d;
}

.HCon {
    text-align: center;
    font-size: 25px;
    background-color: #000000;
    color: white;
    padding: 1px;
}

.Tcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin: 0px 0px 0px 70px;
}

.Tcon h1 {
    font-size: 50px;
}

.Tcon p {
    color: #000000;
    font-size: 20px;
}

.Icon {
    text-align: center;
}

.Icon input {
    padding-left: 20px;
    margin-left: 15px;
    margin-top: 70px;
    width: 300px;
    height: 50px;
    border: #000000 1px solid;
    margin-bottom: 120px;
    color: rgb(0, 0, 0);
}

#bs {
    padding-right: 20px;
    height: 55px;
    background-color: #747474c0;
}

.Icon select {
    padding-left: 20px;
    margin-left: 15px;
    width: 300px;
    height: 55px;
    border: #000000 1px solid;
}

#bs:hover {
    background-color: #00000094;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

#Ve {
    margin: 10px;
    padding: 10px;
}

.Ficons img {
    margin-left: 10px;
}

.Ftext {
    color: white;
    font-size: 25px;
    margin-right: 65px;
}

#Ffi {
    margin-left: 200px;
}
.anav:hover{
    text-decoration: underline;
}
.dnav:hover{
    text-decoration: underline;
}
.fnav:hover{
    text-decoration: underline;
}
.gnav:hover{
    text-decoration: underline;
}
.silka{
    border: 1px solid black;
}
.silkaA{
    text-decoration: none;
    color: #000000;
}
.silkaA:hover{
    text-decoration: underline;
}
